body{
    background-image: url(./download.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
}
.Total{
    font-size: 1em;
    color: black
}
.myFavorite{
    text-align: center;
    font-size: 2em;
    color: black    
}
.iceCreamContainer{
    text-align: center;
    font-size: 1.5em;
}